* body {
    padding: 0;
    margin: 0;
}

ul
{
    list-style: none;
}

.outside_nav li
{
    display: inline-block;
}

.container {
    display: grid;
    overflow: auto;
    height: 100vh;
    grid-template-columns: 170px 1fr 190px;
    grid-template-rows: 35px 1fr 15% 6%;
}

.header
{
    background-color: goldenrod;
    grid-area: 1/1/2/4;
}

.nav
{
    background-color: deeppink;
    grid-area: 2/1/5/2;
}

.main
{
    background-color: lightgoldenrodyellow;
    grid-area: 2/2/3/3;
}

.le-ads
{
    background-color: darkred;
    grid-area: 2/3/3/4;
}

.sasquatch
{
    background-color: teal;
    grid-area: 3/2/4/4;
}

.littlefoot
{
    background-color: blueviolet;
    grid-area: 4/2/5/4;
}