* body {
    padding: 0;
    margin: 0;
    background-color: black;
}

ul
{
    list-style: none;
    padding: 1px;

}

.outside_nav li
{
    display: inline-block;
}

.container {
    display: grid;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 19% 1fr 23%;
    grid-template-rows: 3% 1fr 3% 9% 5%;
}

header
{
    background-color: black;
    color: white;
    grid-area: 1/1/2/4;
    font-size: 10px;
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    padding-right: 20px;
}

.outside_nav a:hover
{
    background-color: white;
    color: black;
}

.nav
{
    background-color: #f0f0f0;
    grid-area: 2/1/6/2;
    font-size: 10px;
}

main
{
    background-color: white;
    grid-area: 2/2/3/3;
    text-align: left;
    padding-left: 10px;
    overflow: auto;

}

.le-ads
{
    background-color: white;
    grid-area: 2/3/4/4;
}

.page-links {
    grid-area: 3/2/4/3;
    background-color: white;
    font-size: 12px;
    display: flex;
    /*justify-content: ;*/
    /*margin-left: auto;*/
    padding-left: 500px;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.sasquatch
{
    background-color: grey;
    color: white;
    grid-area: 4/2/5/4;
}

.littlefoot
{
    background-color: #343434;
    color: white;
    grid-area: 5/2/6/4;
}

.bogus{
    color: white;
}

.ad_1 {
    height: 50px;
    width: 217px;
    border: 1px solid lightgray;
}

.ad_2 {
    margin-top: .5em;
    height: 100px;
    width: 217px;
    border: 1px solid lightgray;;
}

.ad_3 {
    margin-top: 4em;
    height: 50px;
    width: 217px;
    border: 1px solid lightgray;;
}

.ad_4 {
    margin-top: .5em;
    height: 100px;
    width: 217px;
    border: 1px solid lightgray;;
}


.ad_5 {
    margin-top: 4em;
    height: 50px;
    width: 217px;
    border: 1px solid lightgray;;
}

.ad_6 {
    margin-top: .5em;
    height: 100px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
}



.le-ads {
    padding-top: 1.5em;
}

img {
    width:6px;
    height:6px;
}

a
{

}

a:hover{
    color:white;
    background-color: black;
    padding: 8px;
}



