* body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;

}

ul
{
    list-style: none;
    padding: 1px;

}

.outside_nav li
{
    display: inline-block;

}

.outside_nav a {
    padding: .5em;
}

.container {
    display: grid;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 19% 1fr 23%;
    grid-template-rows: 3% 1fr 3% 9% 5%;
}

header
{
    background-color: black;
    color: white;
    grid-area: 1/1/2/4;
    font-size: 10px;
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    padding-right: 20px;
}

.outside_nav a:hover
{
    background-color: white;
    color: black;

}

.logo a:hover {
    background-color: lightgray;
    padding: 1em;
}

.nav
{
    background-color: #f0f0f0;
    grid-area: 2/1/6/2;
    font-size: 10px;


}

.menu {
    font-weight: bold;
}

nav li {
    padding: 1em;
    font-size: 12px;
}

.nav a {
    text-decoration: none;
    color:black;

}

.nav li:hover {
    background-color: black;
    padding: 1em;
    color: white;

}


h2 {
    color: #609085;
}

.logo {
    background-color:#343434;
    padding: 1em;
}

main
{
    background-color: white;
    grid-area: 2/2/3/3;
    text-align: left;
    padding-left: 10px;
}


.heading_1 .heading_2 .heading_3 {
    padding-right: 20px;
}



.le-ads
{
    background-color: white;
    grid-area: 2/3/4/4;


}

p {
    font-size: 11px;
}

.page-links {
    grid-area: 3/2/4/3;
    background-color: white;
    font-size: 12px;
    display: flex;
    padding-left:100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.page-links a {
    padding: 10px;
    color: black;

}

.sasquatch
{
    background-color: grey;
    color: white;
    grid-area: 4/2/5/4;
    padding-left:10px;

}

.sasquatch p {
    font-size: 18px;
}

.littlefoot
{
    background-color: #343434;
    color: white;
    grid-area: 5/2/6/4;
    padding-left: 10px;
}


.bogus{
    color: white;
}

.ad_1 {
    height: 33px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 17px;
}

.ad_2 {
    margin-top: .5em;
    height: 60px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 37px;
}

.ad_3 {
    margin-top: 4em;
    height: 33px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 17px;

}

.ad_4 {
    margin-top: .5em;
    height: 60px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 37px;
}


.ad_5 {
    margin-top: 4em;
    height: 33px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 17px;

}

.ad_6 {
    margin-top: .5em;
    height: 60px;
    width: 217px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 37px;
}



.le-ads {
    padding-top: 1.5em;
}

img {
    width:6px;
    height:6px;
}


.page-links a:hover{
    color:white;
    background-color: black;
    padding: 8px;
}


a {
    text-decoration: none;
}

.outside_nav a {
    color:white;
}